* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #edeff4;
  max-height: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  padding: 40px;
  font-size: 24px;
  font-weight: bold;
}
.moon {
  height: 40px;
  width: 45px;
  border-radius: 50%;
  font-size: 20px;
  padding-bottom: 8px;
  border: none;
  background-color: white;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  gap: 10px;
}
.btn {
  display: flex;
  gap: 10px;
}
.search {
  width: 80%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0 12px;
}
.search::placeholder {
  font-size: 18px;
}
.searchbtn {
  width: 100px;
  height: 43px;
  font-size: 20px;
  background-color: #5f58ea;
  border-radius: 8px;
  color: white;
  border: none;
  text-align: center;
}

.loading {
  width: 40px;
  height: 40px;
  border: 5px solid #ddd;
  border-top: 5px solid black;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: none;
  margin: 20px auto;
  margin-top: 100px;
  transform: rotate(360deg);
}

/* @keyframes spin{
    100%{
        transform: rotate(360deg);
    }
} */
.clear {
  width: 50px;
  height: 43px;
  font-size: 20px;
  background-color: #edeff4;
  border-radius: 8px;
  color: black;
  border: 1px solid grey;
}
.clear:hover {
  border: 1px solid red;
  color: red;
}
.error {
  display: flex;
  height: 100px;
  width: 1100px;
  background-color: #e1e5ed;
  font-size: 20px;

  margin: 40px 80px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.profile {
  display: flex;
  max-width: 1100px;
  background-color: white;
  border-radius: 30px;
  margin: 40px 80px;
}
.avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: grey;
  margin: 40px 30px;
  border: 3px solid rgb(62, 62, 190);
}
.avatar:hover {
  transform: scale(1.05) translate3d(3px, 3px, 3px);
  transition: transform 0.2s ease;
}
.userinfo {
  display: flex;
  flex-direction: column;
  margin: 40px 30px;
}

.name {
  font-size: 28px;
  font-weight: bold;
}
.userName {
  font-size: 18px;
  color: #4f6df5;
}
.bio {
  font-size: 16px;
  color: #5c6270;
}
.details {
  display: flex;
  flex-direction: row;
  color: #5c6270;
  gap: 20px;
  margin: 15px 0px;
}

.status {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.state {
  width: 180px;
  height: 80px;
  background-color: #eef1fb;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: transform 0.3s ease-in-out;
}
.state:hover {
  transform: translateY(-5px);
}

.state h3 {
  font-size: 28px;
  color: #111827;
}

.state p {
  font-size: 14px;
  color: #6b7280;
}
.linkgit {
  width: 200px;
  height: 43px;
  background-color: #5f58ea;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileLink {
  color: white;
  text-decoration: none;
}
.manageRepository {
  display: flex;
  margin: 8px 40px;
}
.searchrepo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 8px 40px;
  gap: 10px;
}
.reponame {
  height: 30px;
  width: 1080px;
  border-radius: 10px;
  align-items: center;
  padding: 5px 5px;
  border: 1.5px solid #5f58ea;
  justify-content: center;
}
.reponame ::placeholder {
  font-size: 20px;
}
/* .options{
border-radius: 8px;
} */
.repositoryGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 80px;
  gap: 30px;
}

.repoCard {
  width: 40%;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid #ddd;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.repoCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border: 1.5px solid #5f58ea;
}

.repoTitle {
  font-size: 22px;
  margin-bottom: 10px;
}

.repoDescription {
  color: #5c6270;
  margin-bottom: 15px;
}

.repoFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.repoStats {
  display: flex;
  gap: 15px;
}

body.dark.name {
  color: white;
}
body.dark {
  background-color: #111827;
  color: white;
}

body.dark .profile {
  background-color: #1f2937;
}
body.dark .bio,
body.dark .location,
body.dark .company,
body.dark .website,
body.dark .joinedDate {
  color: #9ca3af;
}
body.dark .search {
  background-color: #1f2937;
  color: white;
  border: grey;
}

body.dark .state {
  background-color: #374151;
}

body.dark .moon {
  background-color: #374151;
}
body.dark .repoStats {
  color: #111827;
}
body.dark .repoCard {
  background-color: #1f2937;
  border: 1px solid #374151;
}
body.dark .repoCard:hover {
  border-color: #5f58ea;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

body.dark .repoLanguage {
  color: #60a5fa;
}

body.dark .repoStats {
  color: #d1d5db;
}

body.dark .time {
  color: #9ca3af;
}
body.dark .repoTitle {
  color: white;
}
body.dark .repoDescription {
  color: #9ca3af;
}

body.dark .reponame {
  background-color: #1f2937;
}
body.dark .options {
  background-color: #1f2937;
  color: white;
}

body.dark .state:hover {
  border: 1.5px solid #d1d5db;
}
body.dark .clear {
  color: white;
  background-color: #1f2937;
}
body.dark .clear:hover {
  color: red;
  border: 1px solid red;
}
body.dark .avatar {
  border: 2.5px solid #5f58ea;
}
